html, body {
    position: relative;
    height: 100%;
    font-family: 'Microsoft Yahei'
}
* {
    margin: 0px;
    padding: 0px;
}
ul,li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.float-right {
    position: relative;
}
.index-layout {
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
}
.header {
    padding-top: 16px;
}
.header .nav li {
    padding: 0px 20px;
}
.header .nav a {
    display: inline-block;
    font-size: 14px;
    color: rgba(255,255,255,.5);
    padding: 16px 0px 0px !important;
    margin-top: -16px;
}
.header .nav a:hover {
    color: #fff;
}
.header .nav .active a {
    color: #fff;
    border-top: 4px solid #FFB01F;
    padding-top: 12px !important;
}
.header-title {
    padding-top: 260px;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 48px;
}
.header-tip {
    max-width: 800px;
    margin: 20px auto 0px;
    padding: 0px 10px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
}
.header-btn {
    margin-top: 100px;
    position: relative;
}
.index-btn {
    display: inline-block;
    padding: 13px 68px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #FFFFFF;
}
.index-btn:hover {
    color: #FFB01F;
    border-color: #FFB01F;
} 
.banner-c {
    margin: 40px auto 54px;
    width: 400px;
    height: 80px;
    opacity: 0.5;
    /*background: #16141E;*/
    border-radius: 4px;
}
.banner-con {
    height: 100%;
}
.banner {
    height: 100%;
}
.carousel .item {
    float: none;
    color: #fff;
}
.wrap {
    padding: 70px 0px;
}
.wrap-title {
    font-size: 28px;
    color: #333333;
}
.wrap-tip {
    color: #666666;
}
.wrap-foot {
    margin-top: 60px;
}
.wrap-foot-p {
    margin-top: 20px;
    padding: 0px 20px;
    font-size: 16px;
    color: #666666;
} 
.layout-thr {
    background: #F9F9F9;
    border-top: 1px solid #EDEBE8;
    border-bottom: 1px solid #EDEBE8;
}
.wrap-thr {
    padding: 60px 0px;
}
.wrap-thr-title {
    margin-left: 86px;
    text-align: center;
    font-size: 28px;
    color: #333333;
}
.wrap-thr-tip {
    margin-top: 20px;
    max-width: 460px;
    font-size: 16px;
    color: #666666;
    line-height: 24px;
    margin-left: auto;
}
.wrap-thr-img {
    margin-left: 40px;
}
.layout-fore {
    background: #F9F9F9;
    border-bottom: 20px solid #FFB01F;
}
.wrap-fore {
    padding: 80px 0px 60px;
}
.wrap-fore h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
}
.wrap-fore-foot-p {
    font-size: 14px;
    color: #666666;
}
.wrap-fore-foot-line {
    margin-bottom: 60px;
}
.wrap-line {
    background: #D8D8D8;
    width: 20px;
    height: 1px;
    margin: 6px auto;
}
.layout-five {
    background: #2A2449;
    /*border-top: 1px solid #EDEBE8;*/
    border-bottom: 1px solid #EDEBE8;
}
.wrap-five {
    padding: 80px 10px;
}
.wrap-six {
    padding: 80px 0px 40px;
}
.qr-p {
    margin-top: 40px;
    font-size: 20px;
    color: #333333;
}
.wrap-six-foot {
    margin: 20px auto 70px;
    padding: 0px 10px;
    max-width: 680px;
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}
.wrap-six-tel {
    font-size: 16px;
    color: #333333;
}
.wrap-six-tel img {
    margin-right: 20px;
    vertical-align: middle;
}
.wrap-split {
    width: 2px;
    height: 20px;
    margin: 0 60px;
    background: #D8D8D8;
    display: inline-block;
    vertical-align: middle;
}
.layout-footer {
    background: #2A2449;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #FFFFFF;
}
.fixed-top {
    padding-bottom: 16px;
    z-index: 100;
}
.fixed-top-bg {
    background: #221C3D;
}
.header-qr {
    display: none;
    position: absolute;
    left: 50%;
    top: 52px;
    margin-left: -100px;
    width: 200px;
    height: 206px;
    background: #fff;
    padding-top: 30px;
}
.qr-img {
    width: 120px;
    height: 120px;
}
.header-qr-p {
    margin-top: 14px;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
.header-en-a {
    color: #3e9dfe;
    text-decoration: underline;
}
.header-en-p {
    margin-top: 70px;
}
.construction {
    margin: 255px auto 50px;
}
.wrap-fore-foot-line-s {
    padding: 0px 20px;
}
.layout-team {
    margin-top: 60px;
}
.team-img {
    width: 100%;
}
.layout-team-two {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}
.team-title {
    font-size: 28px;
    color: #000;
}
.line-team-two, .line-team-thr {
    margin-top: 60px;
}
.team-person-title {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.team-person-title1 {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: normal;
}
.team-person-title2 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    font-weight: normal;
}
.team-con-p {
    margin-left: 10px;
    font-size: 16px;
    color: #666;
    line-height: 28px;
    margin-bottom: 0px;
}
.team-con-p-thr {
    font-size: 16px;
    color: #666;
    line-height: 28px;
}
.layout-team-thr {
    padding: 80px 0px 90px;
    background-color: #f9f9f9;
}
.layout-team-fore {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}
.line-team-fore {
    margin-top: 60px;
}
.team-con-div {
    padding-bottom: 0px;
    font-size: 16px;
    color: #666;
}
.team-dl {
    padding: 0px 0px 0px;
}
.img-title {
    display: block;
    margin: 0 auto;
    border: 6px solid #f1f0f6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    max-width: 160px;
}
.downloadAPP {
    background: url(../images/phone.png) left 19px no-repeat;
    text-indent: 16px;
}
.downloadAPP:hover {
    background: url(../images/phone_hover.png) left 19px no-repeat;
}
.download_app {
    display: none;
    background: #fff;
    width: 222px;
    padding: 12px;
    position: absolute;
    left: 280px;
    top: 30px;
}
.downlaod-scan, .download-d {
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.downlaod-scan {
    margin-top: 14px;
    margin-bottom: 14px;
}
.download_app:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 70%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-width: 0 8px 10px;
    border-style: dashed solid solid;
    border-color: transparent transparent #fff;
    overflow: hidden;
    _zoom: 1;
}
@media (max-width: 760px) {
    .nav.nav-menu.nav-inline.nav-right {
        padding-top: 54px !important;
        text-align: center !important;
    } 
    .header .nav li {
        padding: 18px 20px;
        background-color: #221C3D;
    }
    .download_li {
        display: none;
    }
    .btn-index {
        color: #fff;
        position: absolute;
        right: 20px;
    } 
    .btn-index:hover, .btn-index:focus {
        color: #333;
    }
    .wrap-thr-title {
        text-align: center;
        margin-left: 0px;
    }
    .wrap-thr-img {
        margin-left: 0px;
    }
    .wrap-thr-tip {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        padding: 0px 10px;
    }
    .wrap-fore-foot-line {
        margin-bottom: 0px;
    }
    .wrap-fore-foot-line-s {
        margin-bottom: 20px;
    }
    .construction {
        width: 60%;
    }
    .banner-c {
        width: 200px;
        margin-top: 0px;
    }
    .header-title {
        padding-top: 130px;
        font-size: 26px;
    }
    .header-btn {
        margin-top: 50px;
    }
    .float-right {
        float: none !important;
    }
    .team-person-title {
        font-size: 14px
    }
    .img-title {
        max-width: 100%;
    }
    .team-con-div {
        font-size: 12px;
    }
    .layout-team-two {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .line-team-two {
        margin-top: 20px;
    }
    .layout-team-thr {
        padding: 40px 0 45px;
    }
    .line-team-thr {
        margin-top: 30px;
    }
    .layout-team-fore {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .line-team-fore {
        margin-top: 30px;
    }
    .team-person-title2 {
        font-size: 18px;
    }
    .img-title1 {
        max-width: 90%;
    }
    .team-title {
        font-size: 24px;
    }
}
@media only screen and (min-width: 760px) and (max-width: 1000px) {
    .wrap-thr-title {
        text-align: center;
        margin-left: 0px;
    }
    .wrap-thr-img {
        margin-left: 0px;
    }
    .wrap-thr-tip {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }
    .wrap-fore-foot-line {
        margin-bottom: 0px;
    }
    .wrap-fore-foot-line-s {
        margin-bottom: 20px;
    }
    .img-title {
        max-width: 100%;
    }
}
