<include file="Public/header"/>
</div>
    <div class="container wrap_ucenter">
        <div class="line clearfix">
            <div class="xs12 xm3 xb3 layout_left">
                <div class="layout_left_menu">
                    <span class="icon-list-ul"></span>
                </div>
                <div class="layout_left_con">
                    <h2>{$Think.lang.ucenter_personal}</h2>
                    <ul>
                        <li><a href="/Ucenter/index">{$Think.lang.ucenter_left_one}</a></li>
                        <li><a href="/LvtManage/index" class="active">{$Think.lang.ucenter_left_two}</a></li>
                        <li><a href="/YtAddress/index">{$Think.lang.ucenter_left_thr}</a></li>
                    </ul>
                </div>
            </div>
            <div class="xs12 xm9 xb9 layout_right">
                 <div class="text-center successful">
                    <p class="successful_pp">{$Think.lang.ucenter_apply_req}</p>
                    <img src="__STATIC__/assets/images/tb_suc.png" alt="">
                    <!-- <p class="successful_pppp">Your current request has been submitted</p> -->
                    <p class="successful_ppp">{$Think.lang.ucenter_apply_confirm}</p>
                    <p class="successful_info"><span class="second">5</span>{$Think.lang.ucenter_apply_redirect}</p>
                 </div>
            </div>
        </div>
    </div>
    <include file="Public/footer"/>
    <!-- build:js js/page_index.js -->
    <script src="__STATIC__/assets/jsmin/jquery.js"></script>
    <script src="__STATIC__/assets/jsmin/jquery.cookie.js"></script>
    <script src="__STATIC__/assets/jsmin/pintuer.js"></script>
    <script src="__STATIC__/assets/jsmin/respond.js"></script>
    <script src="__STATIC__/assets/jsmin/ys.js"></script>
    <!-- endbuild -->
    <script>
        $(function() {
            (function() {
                var $second = $(".second");
                var times = parseInt($second.text());
                var timer = null;
                clearInterval(timer);
                if (times > 0) {
                    timer = setInterval(function() {
                        times--;
                        $second.text(times);
                        if (times == 0) {
                            clearInterval(timer);
                            window.location.href = "/LvtManage/index";
                        }
                    }, 1000);
                }
            })();
        })
    </script>
</body>
</html>