<include file="Public/header"/>
</div>
    <div class="container wrap_ucenter">
        <div class="line clearfix">
            <div class="xs12 xm3 xb3 layout_left">
                <div class="layout_left_menu">
                    <span class="icon-list-ul"></span>
                </div>
                <div class="layout_left_con">
                    <h2>{$Think.lang.ucenter_personal}</h2>
                    <ul>
                        <li><a href="/Ucenter/index" class="active">{$Think.lang.ucenter_left_one}</a></li>
                        <li><a href="/LvtManage/index">{$Think.lang.ucenter_left_two}</a></li>
                        <li><a href="/YtAddress/index">{$Think.lang.ucenter_left_thr}</a></li>
                    </ul>
                </div>
            </div>
            <div class="xs12 xm9 xb9 layout_right">
                <div class="user_head">
                    <img src="__STATIC__/assets/images/avatar.png" class="avatar" alt="">{$username},{$Think.lang.ucenter_hello}!
                </div>
                <div class="user_body">
                    <div class="line clearfix">
                        <div class="pull-left user_body_left">
                            {$Think.lang.ucenter_bind}:
                        </div>
                        <div class="pull-left user_body_right">
                            {$mobile} {$Think.lang.ucenter_bind_text1}{$Think.lang.ucenter_bind_text2}.
                        </div>
                    </div>
                    <div class="line clearfix">
                        <div class="pull-left user_body_left">
                            {$Think.lang.ucenter_login_password}:
                        </div>
                        <div class="pull-left user_body_right">
                            {$Think.lang.ucenter_password_set} <a href="/Ucenter/resetpassword" class="edit">{$Think.lang.ucenter_password_edit}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer"/>
    <!-- build:js js/page_index.js -->
    <script src="__STATIC__/assets/jsmin/jquery.js"></script>
    <script src="__STATIC__/assets/jsmin/jquery.cookie.js"></script>
    <script src="__STATIC__/assets/jsmin/pintuer.js"></script>
    <script src="__STATIC__/assets/jsmin/respond.js"></script>
    <script src="__STATIC__/assets/jsmin/ys.js"></script>
    <!-- endbuild -->
    
</body>
</html>