<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{$Think.lang.index_title}</title>
    <link type="image/x-icon" href="__STATIC__/favicon.ico" rel="shortcut icon">
    <!-- build:css css/page_index.css -->
    <link rel="stylesheet" href="__STATIC__/assets/cssmin/pintuer.css" />
    <link rel="stylesheet" href="__STATIC__/assets/cssmin/my.css" />
    <!-- endbuild -->
</head>
<body>
    <div class="container">
        <div class="line text-center">
            <img src="__STATIC__/assets/images/hd_end.png" class="img-responsive hd-end-img" alt="">
        </div>
        <div class="line text-center hd-end">
            <div class="hd-end-title">{$Think.lang.hd_end_title}</div>
            <div class="hd-end-des">{$Think.lang.hd_end_des}</div>
            <div class="hd-end-des">{$Think.lang.hd_end_go}</div>
        </div>
    </div>
<include file="Yure/footer"/>